# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# database
*.db
*.sqlite
*.sqlite-journal
/prisma/dev.db
/prisma/dev.db-journal

# next.js
.next/
out/
build/
next-env.d.ts

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# idea files
.idea/
.vscode/