# Storage configuration
## Cloudinary credentials
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=       
CLOUDINARY_API_SECRET=

# Transcription configuration
## AssemblyAI credentials
ASSEMBLYAI_API_KEY=

# Queue configuration
## Redis configuration
REDIS_HOST=
REDIS_PORT=

# Server configuration
SERVER_BASE_URL=
FRONTEND_URL=
PORT=

# Trasaction configuration
## Stripe credentials
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Authentication configuration
## Clerk credentials
CLERK_WEBHOOK_SECRET=
CLERK_SECRET_KEY=


GITHUB_WEBHOOK_SECRET=
GITHUB_TOKEN=


CREDIT_PER_COMMIT=5